<%- include('./partials/head') %>

<a href="/">Back</a>

<div class="grid" data-masonry='{ "itemSelector": ".grid-item", "columnWidth": 200 }'>
    <% persons.forEach(person => { %>
      <div class="grid-item"><a href="./person/<%= person.id %>"><%= person.name %></a>, 
        squad_id <%= person.squad_id %>
        <img src="<%= person.avatar %>" alt="avatar">
      </div>
    <% }) %>
</div>
<ul>
  </ul>

<%- include('./partials/foot') %>